<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>故宮測試</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <style type="text/css">
          body.texture{
            background: none repeat scroll 0 0 #23262b
          }
          .login-container .middle-login{
            top: 40%;
            position: absolute;
            left: 45%;
          }
        </style>
</head>
<body class="texture">

<div id="cl-wrapper" class="login-container">

  <div class="middle-login" style="margin:0 auto">
    <div class="block-flat">
      <div class="header">              
        <h3 class="text-center"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg" %></h3>
      </div>
    </div>
    <div class="text-center out-links"><a href="#">&copy; 故宮旅遊札記</a></div>
  </div> 
  
</div>
</body>
