<%= link_to "素材庫", image_library_path %>

<center><h1>個人書城</h1></center>
<%= link_to "編寫新書", books_new_path, :class => "btn btn-primary", style: "margin-bottom:10px" %>
<div class="row">
  <div class="col-sm-12">
	
	<% @books.each do |book| %>
		<div class="col-md-3">
		    <div class="block-flat">
				<div class="header">
					<%= book.index_word %>
				</div>
				<div class="content">
					<%= link_to image_tag(book.index_image, :size => '200x200', :style => "display:block"), books_show_path(book.id) %>
				</div>
			</div>
		</div>
		
	<% end %>
	
  </div>
</div>
